<% @blog.each do |blog| %>
  <div class="post-area">
    <p><%= blog.text %></p>
    <div class="sed">
      <p class="show"><%= link_to 'SHOW', blog_path(blog.id), method: :get %></p>
      <% if user_signed_in? && current_user.id == blog.user_id %>
        <p class="edit"><%= link_to 'EDIT', edit_blog_path(blog.id), method: :get %></p>
        <p class="destroy"><%= link_to 'DESTROY', blog_path(blog.id), method: :delete %></p>
      <% end %>
    </div>
  </div>
<% end %>